
{{>header}}
<div id="signup">
    <div class="container">
        <div class="row">
            <h1 class="col text-center mt-4">
                Individual
            </h1>
        </div>
        <div class="wrap-contact100">
            <form method="POST" action="/users/login" class="contact100-form validate-form">
                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="username" placeholder="Email">
                    <span class="focus-input100"></span>
                </div>
                
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="password" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button class="contact100-form-btn">
                            Login
                        </button>
                    </div>
                </div>
                <a class="mr-auto ml-auto mt-4" href="/ind/signup">Register</a>
            </form>
        </div>
    </div>
</div>
{{>footer}}