/* line 1, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* line 7, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

/* line 13, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#header #nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #5C164E;
  width: 100%;
}

/* line 22, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#header #nav div {
  padding: 5px 0;
}

/* line 27, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#header #nav .logo a {
  display: block;
}

/* line 30, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#header #nav .logo a img {
  height: 45px;
  margin-left: 5px;
}

/* line 39, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#header #nav .nav-menu ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-right: 30px;
}

/* line 44, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#header #nav .nav-menu ul li {
  display: inline-block;
  padding: 10px 25px;
  position: relative;
}

/* line 49, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#header #nav .nav-menu ul li a {
  color: white;
  font-family: Lato, sans-serif;
  text-decoration: none;
}

/* line 55, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#header #nav .nav-menu ul li a:hover::before {
  position: absolute;
  bottom: 0;
  left: 33.3%;
  right: 33.3%;
  height: 2px;
  width: 33.3%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  content: "";
  background: white;
}

@media screen and (max-width: 992px) {
  /* line 81, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
  #header #nav span {
    font-size: 1.6em;
    margin-right: 20px;
    color: #fff;
    cursor: pointer;
  }
  /* line 88, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
  #header #nav .nav-menu {
    background-image: linear-gradient(260deg, #5C164E 0%, #333 100%);
    display: none;
    max-height: 0;
    transition: max-height 1s ease-out;
  }
  /* line 94, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
  #header #nav .nav-menu.active {
    max-height: 5000px;
    transition: max-height 1s ease-in;
    width: 100%;
    border-top: 1px solid white;
    display: block !important;
  }
  /* line 101, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
  #header #nav .nav-menu.active ul {
    margin-right: 0;
  }
  /* line 104, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
  #header #nav .nav-menu.active ul li {
    display: block;
    text-align: left;
  }
  /* line 110, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
  #header #nav .nav-menu.active ul li a:hover::before {
    background: none;
  }
}

/* line 123, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#page {
  height: calc(100vh - 90px);
}

/* line 126, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#page #home {
  height: inherit;
  font-family: lato, sans-serif;
}

/* line 130, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#page #home h1 {
  padding: 40px;
  font-size: 6em;
  font-weight: 100;
  background: #5C164E;
  border-radius: 10px;
  color: #fff;
}

/* line 139, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#page #home a {
  color: black;
}

/* line 143, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#page #home p {
  font-size: 18px;
}

/* line 146, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#page #home p span {
  font-weight: 700;
}

/* line 151, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#page #home h5 {
  font-size: 2em;
}

@media screen and (max-width: 992px) {
  /* line 156, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
  #page #home h1 {
    font-size: 2.5em;
  }
  /* line 160, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
  #page #home h5 {
    font-size: 1em;
  }
}

/* line 167, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup {
  /*---------------------------------------------*/
  /*---------------------------------------------*/
  /*//////////////////////////////////////////////////////////////////
[ Contact ]*/
  /*==================================================================
[ Form ]*/
  /*------------------------------------------------------------------
[ Input ]*/
  /*---------------------------------------------*/
  /*------------------------------------------------------------------
[ Button ]*/
  /*------------------------------------------------------------------
[ Responsive ]*/
  /*------------------------------------------------------------------
[ Alert validate ]*/
  /*==================================================================
[ Contact more ]*/
}

/* line 168, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup h1 {
  color: #666666;
  font-size: 6em;
}

/* line 175, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup input {
  outline: none;
  border: none;
}

/* line 180, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
  -webkit-appearance: none;
}

/* line 186, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup input[type="number"]::-webkit-outer-spin-button,
#signup input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* line 191, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup textarea {
  outline: none;
  border: none;
}

/* line 196, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup textarea:focus,
#signup input:focus {
  border-color: transparent !important;
}

/* line 201, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup input:focus::-webkit-input-placeholder {
  color: transparent;
}

/* line 205, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup input:focus:-moz-placeholder {
  color: transparent;
}

/* line 209, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup input:focus::-moz-placeholder {
  color: transparent;
}

/* line 213, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup input:focus:-ms-input-placeholder {
  color: transparent;
}

/* line 217, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

/* line 221, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup textarea:focus:-moz-placeholder {
  color: transparent;
}

/* line 225, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup textarea:focus::-moz-placeholder {
  color: transparent;
}

/* line 229, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup textarea:focus:-ms-input-placeholder {
  color: transparent;
}

/* line 233, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup input::-webkit-input-placeholder {
  color: #cccccc;
}

/* line 237, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup input:-moz-placeholder {
  color: #cccccc;
}

/* line 241, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup input::-moz-placeholder {
  color: #cccccc;
}

/* line 245, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup input:-ms-input-placeholder {
  color: #cccccc;
}

/* line 249, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup textarea::-webkit-input-placeholder {
  color: #cccccc;
}

/* line 253, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup textarea:-moz-placeholder {
  color: #cccccc;
}

/* line 257, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup textarea::-moz-placeholder {
  color: #cccccc;
}

/* line 261, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup textarea:-ms-input-placeholder {
  color: #cccccc;
}

/* line 266, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup button {
  outline: none !important;
  border: none;
  background: transparent;
}

/* line 272, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup button:hover {
  cursor: pointer;
}

/* line 276, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup iframe {
  border: none !important;
}

/* line 283, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  position: relative;
  z-index: 1;
}

/* line 299, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .contact100-map {
  position: absolute;
  z-index: -2;
  width: calc(100% - 640px);
  height: 100%;
  top: 0;
  left: 0;
}

/* line 308, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .wrap-contact100 {
  margin-right: auto;
  margin-left: auto;
  width: 640px;
  min-height: 100vh;
  background: #fff;
  border-radius: 2px;
  padding: 82px 55px 33px 55px;
  position: relative;
}

/* line 319, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .show-wrap-contact100 {
  visibility: visible;
  opacity: 1;
}

/* line 328, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .contact100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 68px;
}

/* line 340, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .contact100-form-title {
  display: block;
  width: 100%;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 64px;
}

/* line 356, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #997f94;
  margin-bottom: 45px;
}

/* line 363, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .label-input100 {
  font-family: Poppins-SemiBold;
  font-size: 18px;
  color: #999999;
  line-height: 1.2;
  padding-left: 2px;
}

/* line 371, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 22px;
  color: #555555;
  line-height: 1.2;
  padding: 0 2px;
}

/* line 382, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

/* line 392, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #906287;
}

/* line 415, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup input.input100 {
  height: 50px;
}

/* line 420, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup textarea.input100 {
  min-height: 140px;
  padding-top: 13px;
  padding-bottom: 13px;
}

/* line 427, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .input100:focus + .focus-input100::before {
  width: 100%;
}

/* line 431, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .has-val.input100 + .focus-input100::before {
  width: 100%;
}

/* line 438, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 449, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .wrap-contact100-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
}

/* line 457, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .contact100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #5C164E;
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 476, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

/* line 494, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .wrap-contact100-form-btn:hover .contact100-form-bgbtn {
  left: 0;
}

@media (max-width: 768px) {
  /* line 504, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
  #signup h1 {
    font-size: 4em;
  }
}

@media (max-width: 576px) {
  /* line 511, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
  #signup .wrap-contact100 {
    padding: 82px 15px 33px 15px;
  }
  /* line 515, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
  #signup h1 {
    font-size: 3em;
  }
}

/* line 524, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .validate-input {
  position: relative;
}

/* line 528, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 30px 4px 10px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;
  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

/* line 560, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px;
}

/* line 576, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  /* line 582, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
  #signup .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/* line 588, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .true-validate::after {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: #00ad5f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 5px;
}

/* line 614, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .contact100-more {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  position: fixed;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 212px;
  height: 50px;
  border-radius: 25px;
  background-color: #39b54a;
  padding: 0 20px;
  top: 50%;
  left: calc((100% - 640px) / 2);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 643, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#signup .contact100-more i {
  font-size: 20px;
  margin-right: 10px;
}

@media (max-width: 1200px) {
  /* line 651, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
  #signup .wrap-contact100 {
    width: 440px;
  }
  /* line 655, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
  #signup .contact100-map {
    width: calc(100% - 440px);
  }
  /* line 659, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
  #signup .contact100-more {
    left: calc((100% - 440px) / 2);
  }
}

@media (max-width: 768px) {
  /* line 665, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
  #signup .wrap-contact100 {
    width: 100%;
  }
  /* line 669, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
  #signup .contact100-map {
    display: none;
  }
  /* line 673, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
  #signup .contact100-more {
    position: absolute;
    background-color: transparent;
    color: #39b54a;
    bottom: 0px;
    top: auto;
    left: 50%;
    z-index: 10;
  }
}

/* line 685, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#footer {
  background: #333;
}

/* line 688, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#footer p {
  margin-bottom: 0;
  padding: 10px;
  color: #fff;
}

/* line 695, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage {
  /*//////////////////////////////////////////////////////////////////
[ Table ]*/
  /*==================================================================
[ Fix header ]*/
  /*---------------------------------------------*/
}

/* line 697, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .limiter {
  width: 80%;
  margin: 0 auto;
}

/* line 702, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

/* line 718, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .wrap-table100 {
  width: 100%;
}

/* line 724, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .table100 {
  background-color: #fff;
}

/* line 728, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage table {
  width: 100%;
}

/* line 732, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage th,
#tablePage td {
  font-weight: unset;
  padding-right: 10px;
}

/* line 738, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .column1 {
  width: 12%;
  padding-left: 20px;
}

/* line 743, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .column2 {
  width: 33%;
  padding-left: 20px;
}

/* line 748, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .column3 {
  width: 22%;
}

/* line 753, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .column4 {
  width: 19%;
}

/* line 758, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .column5 {
  width: 13%;
  padding-left: 20px;
}

/* line 763, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

/* line 768, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

/* line 775, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .table100 {
  position: relative;
  padding-top: 60px;
}

/* line 780, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

/* line 787, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .table100-body {
  max-height: 585px;
  overflow: auto;
}

/* line 792, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .table100.ver5 {
  margin-right: -30px;
}

/* line 796, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .table100.ver5 .table100-head {
  padding-right: 30px;
}

/* line 800, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .table100.ver5 th {
  font-family: Lato;
  font-size: 14px;
  color: #555555;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: transparent;
}

/* line 810, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .table100.ver5 td {
  font-family: Lato;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
  background-color: #f7f7f7;
}

/* line 819, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .table100.ver5 .table100-body tr {
  overflow: hidden;
  border-bottom: 10px solid #fff;
  border-radius: 10px;
}

/* line 825, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .table100.ver5 .table100-body table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

/* line 830, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .table100.ver5 .table100-body td {
  border: solid 1px transparent;
  border-style: solid none;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 837, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .table100.ver5 .table100-body td:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* line 843, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .table100.ver5 .table100-body td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

/* line 849, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .table100.ver5 tr:hover td {
  background-color: #ebebeb;
  cursor: pointer;
}

/* line 854, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .table100.ver5 .table100-head th {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 861, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .table100.ver5 {
  overflow: hidden;
}

/* line 865, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#tablePage .table100.ver5 .table100-body {
  padding-right: 30px;
}

/* line 871, ../VIS/Vehicle-Identification-System/public/stylesheets/scss/style.scss */
#table {
  min-height: 80vh;
}

/*# sourceMappingURL=style.css.map */